<header class="header2">
    <div class="header2_left">
        <div class="header2_left_item">Home</div>
        <div class="header2_left_item">About us</div>
        <div class="header2_left_item">Services</div>
        <div class="header2_left_item">Doctors</div>
        <div class="header2_left_item">News</div>
        <div class="header2_left_item">Contact</div>
    </div>
    <div class="header2_right">
        <img src="../../../assets/img/glass.svg" alt="glass">
        <div class="header2_right_item">Appointment</div>
    </div>
</header>