<header class="header2">
    <div class="header2_left">
        <a href="#" class="header2_left_item">Home</a>
        <a href="#" class="header2_left_item">About us</a>
        <a href="#" class="header2_left_item">Services</a>
        <a href="#" class="header2_left_item">Doctors</a>
        <a href="#" class="header2_left_item">News</a>
        <a href="#" class="header2_left_item">Contact</a>
    </div>
    <div class="header2_right">
        <img src="../../../assets/img/glass.svg" alt="glass">
        <div class="header2_right_item">Appointment</div>
    </div>
</header>